---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameBasic","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"23c8ca6f-0565-4c2a-aba3-c2a5f1859865","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameBasic","status":"ready","created_at":"2026-07-02T10:05:01.137671Z","updated_at":"2026-07-02T10:05:01.137671Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.469258515s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/23c8ca6f-0565-4c2a-aba3-c2a5f1859865
        method: GET
      response:
        body: '{"id":"23c8ca6f-0565-4c2a-aba3-c2a5f1859865","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameBasic","status":"ready","created_at":"2026-07-02T10:05:01.137671Z","updated_at":"2026-07-02T10:05:01.137671Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.241804718s
[...]
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/23c8ca6f-0565-4c2a-aba3-c2a5f1859865/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.058848ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"version1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/23c8ca6f-0565-4c2a-aba3-c2a5f1859865/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"23c8ca6f-0565-4c2a-aba3-c2a5f1859865","status":"enabled","created_at":"2026-07-02T10:05:04.058994Z","updated_at":"2026-07-02T10:05:04.058994Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 506.844535ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/23c8ca6f-0565-4c2a-aba3-c2a5f1859865/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"23c8ca6f-0565-4c2a-aba3-c2a5f1859865","status":"enabled","created_at":"2026-07-02T10:05:04.058994Z","updated_at":"2026-07-02T10:05:04.058994Z","deleted_at":null,"description":"version1","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.196324ms
[...]
