---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWO","tags":["devtools","provider","terraform"],"description":"secret description","type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"93028370-9b2d-4414-a6c9-df28ab2df289","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWO","status":"ready","created_at":"2026-07-02T10:05:00.752846Z","updated_at":"2026-07-02T10:05:00.752846Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.11689222s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/93028370-9b2d-4414-a6c9-df28ab2df289
        method: GET
      response:
        body: '{"id":"93028370-9b2d-4414-a6c9-df28ab2df289","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"secretVersionNameDataWO","status":"ready","created_at":"2026-07-02T10:05:00.752846Z","updated_at":"2026-07-02T10:05:00.752846Z","tags":["devtools","provider","terraform"],"version_count":0,"description":"secret description","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.875849ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/93028370-9b2d-4414-a6c9-df28ab2df289/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 56.303629ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        body: '{"data":"bXlfc3VwZXJfc2VjcmV0","description":"secret description"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/93028370-9b2d-4414-a6c9-df28ab2df289/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"93028370-9b2d-4414-a6c9-df28ab2df289","status":"enabled","created_at":"2026-07-02T10:05:01.534527Z","updated_at":"2026-07-02T10:05:01.534527Z","deleted_at":null,"description":"secret description","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 454.450706ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/93028370-9b2d-4414-a6c9-df28ab2df289/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"93028370-9b2d-4414-a6c9-df28ab2df289","status":"enabled","created_at":"2026-07-02T10:05:01.534527Z","updated_at":"2026-07-02T10:05:01.534527Z","deleted_at":null,"description":"secret description","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.969899ms
[...]
