---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"045df881-3626-40cc-86a3-03a86ff53964","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","status":"ready","created_at":"2026-07-02T10:05:00.815573Z","updated_at":"2026-07-02T10:05:00.815573Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.172001483s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/045df881-3626-40cc-86a3-03a86ff53964
        method: GET
      response:
        body: '{"id":"045df881-3626-40cc-86a3-03a86ff53964","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","status":"ready","created_at":"2026-07-02T10:05:00.815573Z","updated_at":"2026-07-02T10:05:00.815573Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.333647ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/045df881-3626-40cc-86a3-03a86ff53964/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.159477ms
[...]
    - id: 9
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/045df881-3626-40cc-86a3-03a86ff53964
        method: PATCH
      response:
        body: '{"id":"045df881-3626-40cc-86a3-03a86ff53964","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","status":"ready","created_at":"2026-07-02T10:05:00.815573Z","updated_at":"2026-07-02T10:05:04.946159Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/test-secret-path","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.994614ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"path":"/test-secret-path-change/"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/045df881-3626-40cc-86a3-03a86ff53964
        method: PATCH
      response:
        body: '{"id":"045df881-3626-40cc-86a3-03a86ff53964","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-path-secret","status":"ready","created_at":"2026-07-02T10:05:00.815573Z","updated_at":"2026-07-02T10:05:07.117529Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/test-secret-path-change","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.435484ms
[...]
