---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-resource-versions","tags":null,"type":"opaque","path":"/","protected":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets
        method: POST
      response:
        body: '{"id":"7483a5f7-dcc3-4b21-ae9d-93f49f92c41e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-resource-versions","status":"ready","created_at":"2026-07-02T10:05:01.046572Z","updated_at":"2026-07-02T10:05:01.046572Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.397797239s
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7483a5f7-dcc3-4b21-ae9d-93f49f92c41e
        method: GET
      response:
        body: '{"id":"7483a5f7-dcc3-4b21-ae9d-93f49f92c41e","project_id":"105bdce1-64c0-48ab-899d-868455867ecf","name":"test-secret-resource-versions","status":"ready","created_at":"2026-07-02T10:05:01.046572Z","updated_at":"2026-07-02T10:05:01.046572Z","tags":[],"version_count":0,"description":"","managed":false,"type":"opaque","protected":false,"path":"/","ephemeral_policy":null,"used_by":[],"deletion_requested_at":null,"key_id":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.068901ms
[...]
    - id: 3
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7483a5f7-dcc3-4b21-ae9d-93f49f92c41e/versions?page=1
        method: GET
      response:
        body: '{"versions":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.586322ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"data":"dXBkYXRlZC12ZXJzaW9uLWRhdGE="}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7483a5f7-dcc3-4b21-ae9d-93f49f92c41e/versions
        method: POST
      response:
        body: '{"revision":1,"secret_id":"7483a5f7-dcc3-4b21-ae9d-93f49f92c41e","status":"enabled","created_at":"2026-07-02T10:05:03.928311Z","updated_at":"2026-07-02T10:05:03.928311Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 464.00992ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/secret-manager/v1beta1/regions/fr-par/secrets/7483a5f7-dcc3-4b21-ae9d-93f49f92c41e/versions/1
        method: GET
      response:
        body: '{"revision":1,"secret_id":"7483a5f7-dcc3-4b21-ae9d-93f49f92c41e","status":"enabled","created_at":"2026-07-02T10:05:03.928311Z","updated_at":"2026-07-02T10:05:03.928311Z","deleted_at":null,"description":"","latest":true,"ephemeral_properties":null,"deletion_requested_at":null,"region":"fr-par"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.375721ms
[...]
